<h1>Send us a message?</h1>

{{#if messageSent}}
  <p> No soup for you! MwuAHAHAHAHAHA!  Now go away or I shall taunt you a second time. </p>
{{else}}
  <p> <a href="#" {{action 'sendMessage'}}>Click here</a> to send us a message.</p>
{{/if}}
