<h1>Ask us a question!</h1>
<br>
<form>
  <div class="form-group">
    <label for="blurb">Short Question:</label>
    {{input id="blurb" class="form-control" maxlength="60" value=blurb}}
  </div>

  <div class="form-group">
    <label for="body">Body:</label>
    {{textarea id="body" class="form-control" rows="15" placeholder="Be as descriptive as possible here" value=body}}
  </div>

  <button class="btn btn-primary" {{action 'save'}}>Save</button>
</form>
